<h1 style="green"><center>Moth weight increase calculator</center></h1>
<table>
<tr>
<td>
<label>Moth Name</label>
<input type="text"></input>
</td>
<td>
<label>Food</label>
<input type="text"></input>
</td>
</tr>
</table>
<input type="submit"></input>

 <h2 style='blue'><center> Enter Food and Name and hit Submit</center></h2>